.navigation {
  height: 9rem;


  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), url(/img/jungle-fog.jpg);
    background-size: cover;
    background-position: 50% 45%;
  }

  &__list {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: .3rem;
    list-style: none;

    & > * {
      margin-right: .6rem;
    }

  }

  &__item {
    margin: 1rem;
  }

  &__link {
    text-decoration: none;

    &:link, &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      text-shadow: 0 .2rem .2rem rgba($color-black, 0.5);
      background-size: 220%;
      transition: all .4s;
      transform: translateX(0);

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover, &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }

  }



}