.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  opacity: .2;
  overflow: hidden;

  //video {
  //  mix-blend-mode: overlay;
  //}

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7));
}